
/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body{
	background-color: #040309;
  
}

footer{
  height:100px;
}

#mainContainer
{
  position:fixed;
  background: -moz-linear-gradient(top, #040309, #5f5f00);
  background: -ms-linear-gradient(top, #040309, #5f5f00);
  background: -webkit-gradient(linear, center top, center bottom, from(#040309), to(#5f5f00));
  background: -webkit-linear-gradient(top, #040309, #5f5f00);
  background: linear-gradient(top, #040309, #5f5f00);
  height:100%;
  width:100%;
  text-align:center;
}

p{
	color: #A59F01;
}

.hero-unit {
  background-color: transparent;
}

/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}
.featurette {
  padding-top: 120px; /* Vertically center images part 1: add padding above and below text. */
  overflow: hidden; /* Vertically center images part 2: clear their floats. */
}
.featurette-image {
  margin-top: -120px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
}

/* Give some space on the sides of the floated elements so text doesn't run right into it. */
.featurette-image.pull-left {
  margin-right: 40px;
}
.featurette-image.pull-right {
  margin-left: 40px;
}

/* Thin out the marketing headings */
.featurette-heading {
  font-size: 50px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}

.navbar-inverse .navbar-inner {
  background: #040309;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 979px) {

  .container.navbar-wrapper {
margin-bottom: 0;
width: auto;
  }
  .navbar-inner {
border-radius: 0;
margin: -20px 0;
  }

  .featurette {
height: auto;
padding: 0;
  }
  .featurette-image.pull-left,
  .featurette-image.pull-right {
display: block;
float: none;
max-width: 40%;
margin: 0 auto 20px;
  }
}


@media (max-width: 767px) {

  .navbar-inner {
margin: -20px;
  }

  .featurette-heading {
font-size: 30px;
  }
  .featurette .lead {
font-size: 18px;
line-height: 1.5;
  }

}









